@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.gridfour{
  display: grid;
  grid-template-columns: 4fr 2fr;
}

.treindingbtn{
  background-color: rgb(207, 206, 206);
  padding: 10px 15px;
  margin: 5px 5px;
  display: flex;
}
.detailpage{

  display: grid;
  grid-template-columns: 1fr 4fr;
}
@media (max-width: 600px) {
  .gridfour{
    
    grid-template-columns: 1fr;
  }
  .detailpage{

    display: grid;
    grid-template-columns: 1fr;
  }
}